.SimpleChatForm {
    display: block;
}

.SimpleChatForm textarea {
    width: 100%;
    box-sizing: border-box;
}

.SimpleChatForm label {
    display: block;
}

.SimpleChatForm button {
    margin-bottom: 1em;
}
