.SidePanel {
    position: fixed;
    top: 2px;
    right: 2px;
    text-align: right;
    border: 1px solid var(--border-color, #707070);
    border-radius: 4px;
    background-color: var(--background-color, #FFFFFF);
}
.SidePanelOpenerBtn {
    background: var(--background-color, #FFFFFF);
    border: none;
    width: 2em;
}

.SidePanelContent {
    display: none;
    flex-direction: column;
    padding: 0.2em;
    text-align: center;
}
.SidePanelContent.open {
    display: flex;
}

.SidePanelContent .Spacer {
    height: 1em;
}

.SidePanelContent button {
    height: 2em;
    background: none;
}
