.UserTable {
    margin-right: 2em;
}

.UserTable tr {
    height: 2em;
}
.UserTable tbody tr:hover {
    background: var(--button-background-color-hover);
}

.UserTable td {
    padding: 0.2em 0.5em;
    vertical-align: center;
}

.UserTable th, .UserTable .NoWrap {
    white-space: nowrap;
}

.UserTable a {
    display: inline-block;
    color: var(--text-color);
    text-decoration: none;
}

.UserTable a:hover {
    background: var(--button-background-color);
}

.UserTable td.Name {
    min-width: 10em;
}
.UserTable td.DenialReason {
    min-width: 10em;
    max-width: 10em;
    word-break: break-all;
}

.UserTable .EditBtn {
    margin-left: 0.5em;
    vertical-align: middle;
    min-width: 1em;
    background: none;
    border: none;
    padding: 0;
}


