
.dark {
    --background-color: #202020;
    --textarea-background-color: #000;
    --text-color: #ffffff;
    --text-color-less: #b0b0b0;
    --text-color-label: #80b0FF;
    --border-color: #606060;
    --button-background-color: #404040;
    --button-background-color-hover: #303030;
    --button-text-color: var(--text-color);
    --button-border-color: var(--border-color);
    --background-image: url("./assets/background.dark.png");
    --box-shadow-color: #606060;
    --dialog-page-cover-color: #FFFFFF20;
}
.light {
    --background-color: #ffffff;
    --textarea-background-color: #fff;
    --text-color: #000000;
    --text-color-less: #505050;
    --text-color-label: #5080FF;
    --border-color: #a0a0a0;
    --button-background-color: #f0f0f0;
    --button-background-color-hover: #e0e0e0;
    --button-text-color: var(--text-color);
    --button-border-color: var(--border-color);
    --background-image: url("./assets/background.light.png");
    --box-shadow-color: #a0a0a0;
    --dialog-page-cover-color: #00000040;
}
body {
    background-color: var(--background-color, #FFFFFF);
    color: var(--text-color, #000000);
    background-image: var(--background-image);
}

h1 {
    display: inline-block;
    padding: 5px;
    text-shadow:
             5px  5px 9px var(--background-color, #FFFFFF),
            -5px  5px 9px var(--background-color, #FFFFFF),
             5px -5px 9px var(--background-color, #FFFFFF),
            -5px -5px 9px var(--background-color, #FFFFFF);
}

nav {
    margin-bottom: 1em;
    padding: 0.2em;
    border: 1px solid var(--border-color);
    background-color: var(--background-color, #FFFFFF);
}

nav a {
    display: inline-block;
    padding: 0.2em 0.5em;
    margin-right: 1em;
    text-decoration: none;
    cursor: default;
}

button, select, .CurrentUser a, nav a {
    color: var(--button-text-color, #000000);
    border: 1px solid var(--button-border-color, #707070);
    border-radius: 0.3em;
    background-color: var(--button-background-color, #f0f0f0);
}
button:hover, select:hover, .CurrentUser a:hover, nav a:hover {
    background-color: var(--button-background-color-hover, #e0e0e0);
}

textarea {
    border: 1px solid var(--border-color, #707070);
    color: var(--text-color, #000000);
    background-color: var(--textarea-background-color, #FFFFFF);
}

.CurrentUser {
    margin-top: 0.5em;
}
.CurrentUser img {
    vertical-align: middle;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
}
.CurrentUser a {
    width: 100%;
    box-sizing: border-box;
    padding: 0.2em;
    display: inline-block;
    text-decoration: none;
}

.DarkModeSwitch {
    padding: 0.2em 1em;
}

.ID {
    color: var(--text-color-less);
    font-size: 0.5em;
}

.Label {
    color: var(--text-color-label);
    font-size: 0.8em;
}

.FlexRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.FlexRowNoWrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
}

.FlexColumn {
    display: flex;
    flex-direction: column;
}

.BorderedBlock {
    display: block;
    border: 1px solid var(--border-color, #707070);
    border-radius: 4px;
}
